@import url('https: //fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
  /* Vite/React Standard Roots */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Graphic Profile */
  /* Colors */
  --color-background: #F2F2F2;
  --color-primary: #16703E;
  --color-primary-hover: #2f975e;
  --color-secondary: #469BFB; /* Mainly for highlighting personal order */

  --color-white: #FFFFFF; /* Cards/Containers on top of the background */
  --color-gray-light: #D9D9D9; /* Unselected buttons, misc items, etc */
  --color-gray-dark: #252525; /* Menu background for signed-in users */
  --color-black: #000000; /* Mainly Text */

  --color-red: #E70707; /* Delete buttons etc */
  --color-green: #14A44D; /* Checkmarks etc */

  /* Fonts */
  --font-primary: 'Open Sans', 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-size-header: 32px;
  --font-size-subheader: 24px;

  --font-size-button-big: 20px; /* Also used for the names of order-items */
  --font-size-button-mid: 15px; /* For signed-in bottom menu buttons */
  --font-size-button-small: 12px; /* Mainly for the signed-in pages */

  --font-size-text: 14px; /* All body text, non headers & non buttons */

  /* Spacing */
  --spacing-big: 40px; /* For big vertical spacing between itmes/containers */
  --spacing-mid: 20px; /* Body Margins, some paddings, the primary spacing between items */
  --spacing-small: 10px; /* Mainly paddings between items inside containers */
  --spacing-tiny: 5px;

  /* Border-radius */
  --border-radius-big: 24px; /* Mainly for the big order number display */
  --border-radius-mid: 12px;
  --border-radius-small: 6px; /* Mainly for buttons */
  --border-radius-tiny: 3px; /* Mainly for the containers on the signed-in pages */

}

/* General Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-primary);
  font-weight: 400;
}

main, .main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.main-container {
  padding: 0px var(--spacing-mid);
}

.main-container.order-index-page {
  justify-content: center;
  flex-direction: row;
}

/* Typography */
h1 {
  font-size: var(--font-size-header);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: var(--spacing-small);
  color: var(--color-primary);
}

h1.staff-page-headers {
  color: var(--color-black);
}

h2 {
  font-size: var(--font-size-subheader);
  font-weight: 600;
  line-height: 1.1;
  color: var(--color-primary);
}

h2.staff-page-headers {
  color: var(--color-black);
}

p {
  font-size: var(--font-size-text);
  font-weight: 400;
  margin-bottom: var(--spacing-small);
  color: var(--color-black);
}

/* Bootstrap icons */
.bi {
  font-size: 30px
}

/* Buttons */
button {
  font-size: var(--font-size-button-big);
  font-weight: 600;
  color: var(--color-white);
  background-color: var(--color-primary);
  border: none;
  border-radius: var(--border-radius-small);
  padding: var(--spacing-mid) var(--spacing-big);
  cursor: pointer;
  min-width: 200px;
  transition: 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-small);
}

button:hover {
  background-color: var(--color-primary-hover);
  transition: 0.5s ease-in-out;
}

button.small {
  font-size: var(--font-size-button-small);
  padding: var(--spacing-tiny) var(--spacing-small);
}

.main-container.order-index-page button {
  border-radius: var(--border-radius-mid);
}

.main-container.order-index-page button.btn-left {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-right: 1px solid var(--color-background);
}

.main-container.order-index-page button.btn-right {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-left: 1px solid var(--color-background);
}