.shopping-cart {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--color-primary);
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.shopping-cart:before {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: var(--color-primary);
  transform: translateX(-50%) rotate(45deg);
}

.shopping-cart .cart-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-big);
  cursor: pointer;
  color: var(--color-white)
}

.shopping-cart .cart-header h1 {
  color: var(--color-white);
  margin-bottom: 0;
}

.shopping-cart .cart-items {
  max-height: 75vh;
  overflow-y: auto;
  padding: var(--spacing-big);
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.shopping-cart .cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-small);
  gap: var(--spacing-small);
  border-bottom: 1px dashed #eee;
  background-color: var(--color-white);
  margin-bottom: var(--spacing-big);
  border-radius: var(--border-radius-tiny);
}

.shopping-cart .item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--spacing-small);
}

.shopping-cart .item-info .item-name {
  margin: var(--spacing-mid);
  margin-right: 0;
}

.shopping-cart .item-size {
  font-size: var(--font-size-text);
  color: #666;
}

.shopping-cart .item-actions {
  display: flex;
  align-items: center;
  gap: var(--spacing-big);
}

.shopping-cart .item-actions .item-price {
  margin: 0;
  color: var(--color-black);
  font-size: var(--font-size-subheader);
}

.shopping-cart .item-actions .item-quantity-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shopping-cart .quantity-btn {
  padding: 0.25rem 0.5rem;
  border: 1px solid #ddd;
}

.shopping-cart .remove-btn {
  background-color: var(--color-red);
  padding: var(--spacing-tiny) var(--spacing-small);
  width: 32px;
  height: 32px;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  min-width: unset;
  margin-right: var(--spacing-mid);
}

.shopping-cart .remove-btn:hover {
  background-color: var(--color-red-hover);
}

.shopping-cart .remove-btn .bi {
  font-size: var(--font-size-button-large);
  padding-top: 2px;
}

.shopping-cart .quantity {
  min-width: 2rem;
  text-align: center;
}

/* Cart Total */
.shopping-cart .cart-total {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-white);
  border-top: 1px dashed var(--color-white);
  padding-top: var(--spacing-big);
  padding-bottom: var(--spacing-big);
}

.shopping-cart .cart-total .full-price-span {
  font-size: var(--font-size-subheader);
  line-height: 1.1;
  font-weight: 600;
  padding-top: var(--spacing-mid);
}

.shopping-cart .cart-total .full-price-amount {
  font-size: calc(var(--font-size-header) * 1.5);
  font-weight: 600;
}

/* Confirm Order Button */
.shopping-cart button.btn-confirm-order {
  background-color: var(--color-white);
  min-width: 300px;
  color: var(--color-primary);
  flex-direction: row;
  gap: var(--spacing-mid);
  margin: 0 auto;
}